# Git
.git
.gitignore

# Node modules
node_modules

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Test
coverage
